/*css reset starts*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*css reset ends*/

* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Arial, sans-serif;
    background-color: #8de3ab;
}



/*large*/
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    padding: 10px;
    text-transform: capitalize;
}

h1 {
    font-size: 22px;
    font-weight: 900;
}

h2 {
    font-size: 20px;
    font-weight: 600;
}

h3 {
    font-size: 18px;
    font-weight: 300;
}

p {
    font-size: 15px;
    line-height: 1.8;
}

nav ul li {
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

nav > ul > li a {
    text-decoration: none;
    text-align: center;
}

.card {
    border: 5px outset #086328;
    border-radius: 5px;
    background-color: #0da141;
    padding: 2px 0px;
}

.card-inline {
    display: inline-block;
    width: 23%;
    float: left;
    position: relative;
    margin: 5px 1%;
    text-align: center;
}

.product-name {
    background-color: rgb(13, 161, 65);
    padding: 10px 0;
    top: 0;
    width: 100%;
}

.product-price {
}


li.card img {
    height: 250px;
    width: 100%;
    padding-bottom: 5px;
}

.add {
    margin: 5px 0;
    width: 25%;
}

.result-section {
    clear: both;
    margin-top: 150px;
}

button {
    background-color: #b0b548;
    border-radius: 5px;
}

    button:hover {
        background-color: #d6de31;
    }

select > option:nth-of-type(odd) {
    background-color: #ced4de;
}

select > option:nth-child(even) {
    background-color: #aeb6c2;
}

/*small*/
@media only screen and (max-width: 768px) {
    body {
        background-color: red;
    }

    .small-12 {
        width: 98%;
        display: block;
    }

    button#nav-toggle {
        cursor: pointer;
    }

    #nav-small > ul > li a {
        display: block;
        font-size: 30px;
        text-align: center;
        text-decoration: none;
    }
}
