<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Search| Buy From Farmers</title>
    <link rel="stylesheet" type="text/css" href="../styles/main.css" />
    <script src="../scripts/jquery.validate.min.js"></script>
</head>
<body>
    <header>
        <nav>
            <ul class="flex-container">
                <li><a href="accountbuyer.html">My Account</a></li>
                <li><a href="accountbuyer.html">Order History</a></li>
                <li>
                    <input type="search" style="margin: 0 auto;display:inline;" results="3" placeholder="SEARCH FOR PODUCTS OR FARMS" />
                    <button>Search</button>
                </li>
            </ul>
        </nav>

    </header>
    <main class="clear">
        <section>
            <h2 style="margin:50px 0 10px 0;">Products</h2>
            <ul>
                <li class="card card-inline small-12">
                    <div class="product-name">Product 1</div>
                    <img src="../images/pear.jpg" alt="Product 1 image" />
                    <div class="product-price">$0.00</div>
                    <button type="submit" class="add">ADD</button>
                </li>
                <li class="card card-inline small-12">
                    <div class="product-name-wrapper">
                        <div class="product-name">Product 2</div>
                    </div>
                    <img src="../images/apple.jpg" alt="Product 2 image" />
                    <div class="product-price">$0.00</div>
                    <button type="submit" class="add">ADD</button>
                </li>
                <li class="card card-inline  small-12">
                    <div class="product-name">Product 3</div>
                    <img src="../images/banana.jpg" alt="Product 3 image" />
                    <div class="product-price">$0.00</div>
                    <button type="submit" class="add">ADD</button>
                </li>
                <li class="card card-inline  small-12">
                    <div class="product-name-wrapper">
                        <div class="product-name">Product 4</div>
                    </div>
                    <img src="../images/orange.jpg" alt="Product 2 image" />
                    <div class="product-price">$0.00</div>
                    <button type="submit" class="add">ADD</button>
                </li>
                <li class="card card-inline  small-12">
                    <div class="product-name">Product 5</div>
                    <img src="../images/pear.jpg" alt="Product 1 image" />
                    <div class="product-price">$0.00</div>
                    <button type="submit" class="add">ADD</button>
                </li>
                <li class="card card-inline  small-12">
                    <div class="product-name-wrapper">
                        <div class="product-name">Product 6</div>
                    </div>
                    <img src="../images/apple.jpg" alt="Product 2 image" />
                    <div class="product-price">$0.00</div>
                    <button type="submit" class="add">ADD</button>
                </li>

            </ul>
            <h2 class="clear">Farms</h2>
            <ul class="result-section">
                <li class="card small-12">Farm 1</li>
                <li class="card small-12">Farm 2</li>
            </ul>
        </section>
    </main>
    <footer>
    </footer>
</body>
</html>
