<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link type="text/css" rel="stylesheet" href="../styles/main.css" />
    <title>Buy From Farmers|My Shopping Cart</title>
    <style>
        img {
            height: 250px;
            width: 100%;
        }

        ul > li {
            width: 33%;
            margin: 10px auto;
            text-align: center;
        }
    </style>
</head>
<body>
    <header>
        <h1>Shopping Cart</h1>
        <a href="productlist.html">Go Back</a>
    </header>
    <main>
        <h2>Your itmes</h2>
        <ul>
            <li class="card">
                <h3 class="product-name">Product 2</h3>
                <img src="../images/banana.jpg" />
                <div>
                    <p>Quantity:2</p>
                    <p>Price:5.00</p>
                </div>
            </li>
            <li class="card">
                <h3 class="product-name">Product 3</h3>
                <img src="../images/apple.jpg" />
                <div>
                    <p>Quantity:2</p>
                    <p>Price:0.00</p>
                </div>
            </li>
            <li class="card">
                <h3 class="product-name">Product 1</h3>
                <img src="../images/pear.jpg" />
                <div>
                    <p>Quantity:2</p>
                    <p>Price:0.00</p>
                </div>
            </li>
            <li class="card">
            <h3 class="product-name">Product 2</h3>
            <img src="../images/banana.jpg" />
            <div>
                <p>Quantity:2</p>
                <p>Price:5.00</p>
            </div>
            </li>
            <li class="card">
                <h3 class="product-name">Product 3</h3>
                <img src="../images/apple.jpg" />
                <div>
                    <p>Quantity:2</p>
                    <p>Price:0.00</p>
                </div>
            </li>
            <li class="card">
                <h3 class="product-name">Product 1</h3>
                <img src="../images/pear.jpg" />
                <div>
                    <p>Quantity:2</p>
                    <p>Price:0.00</p>
                </div>
            </li>
        </ul>
    </main>
    <footer>
    </footer>
</body>
</html>