<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Wellcome to Buy From Farmers Marketplace</title>
    <link type="text/css" rel="stylesheet" href="../styles/main.css" />
</head>
<body>
    <header>
    </header>
    <main>
        <h1>Wellcome to Buy From Farmers</h1>
        <p>A place Where you can connect and buy from your local farmers <br />or<br /> if you are a farmer you can sell your products directly to the consumers</p>
        <a href="">Buyers Login</a>
        <a href="">Farmers Log in</a>
        <a href="">Create Account</a>
        <section>
            <h2>How it Works</h2>
            <h3>If you want to buy fresh  produce from local farmers</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum.
            </p>
            <h3>If you want to see a produce to the local community</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                anim id est laborum.
            </p>
        </section>
    </main>
    <footer>
    </footer>
</body>
</html>