<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Farms</title>
    <link rel="stylesheet" type="text/css" href="../styles/main.css" />
</head>
<body>
    <header>
        <h3>My Farms</h3>
        <a href="accountfarmers.html">My Account</a>
    </header>
    <main>
        <ul>
            <li>
                <div class="farm-title">Farm 1<span><button>EDIT</button></span></div>
                <div class="farm-info">Farm Information</div>
                <ul>
                    <li>Products<span><button>EDIT</button></span></li>
                    <li>Product 1</li>
                    <li>Product s</li>
                </ul>
            </li>
            <li>
                <div class="farm-title">Farm 2<span><button>EDIT</button></span></div>
                <div class="farm-info">Farm Information</div>
                <ul>
                    <li>Products<span><button>EDIT</button></span></li>
                    <li>Product 1</li>
                    <li>Product s</li>
                </ul>
            </li>
        </ul>
    </main>
    <footer>
    </footer>
</body>
</html>