<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Buy From Farmers|Product Details</title>
    <link rel="stylesheet" type="text/css" href="../styles/main.css" />
</head>
<body>
    <header>
    </header>
    <main>
        <h1>Edit a product</h1>
        <form action="" method="post">
            <label for="name">Name</label>
            <input type="text" required id="name" placeholder="product name" maxlength="50" />
            <label for="pricce">Price</label>
            <input type="text" required id="price" placeholder="price" maxlength="4" />
            <label for="image">Image</label>
            <input type="file" required id="image" />
            <button type="submit">Update</button>
        </form>

    </main>
    <footer>
    </footer>
</body>
</html>