<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Product Details | Buy From Farmers</title>
    <link rel="stylesheet" type="text/css" href="../styles/main.css" />
</head>
<body>
    <header>
    </header>
    <main>
        <h1>My Products</h1>
        <ul>
            <li class="card">
                <div class="product-name">Product 1</div>
                <img src="../images/apple.jpg" alt="product 1" />
                <div class="product-price">Price:$0.00</div>
                <button type="submit">EDIT</button>
            </li>
            <li class="card">
                <div class="product-name">Product 2</div>
                <img src="../images/banana.jpg" alt="product 2" />
                <div class="product-price">Price:$0.00</div>
                <button type="submit">EDIT</button>
            </li>
        </ul>
    </main>
    <footer>
    </footer>
</body>
</html>